/*-----Contact-----*/

@import url('../../assets/css/Global.css');

.contact-links {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: auto;
    width: auto;
    bottom: 33%;
    left: 0%;
    z-index: 100;
    background: #ffffff06;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 0 30px 30px 0;
    padding: 30px 25px 30px 20px;
    gap: 30px;
    -webkit-transition: all .50s ease;
    -o-transition: all .50s ease;
    transition: all .50s ease;
}

.contact-links box-icon {
    height: auto;
    width: 30px;
}

@media (max-width: 576px) {
    /* styles for small screens go here */

    .contact-links {
        bottom: 5%;
        padding: 30px 20px 30px 10px;
        gap: 25px;
    }

    .contact-links box-icon {
        width: 22px;
    }
}

@media (min-width: 577px) and (max-width: 992px) {
    /* styles for medium screens go here */

    .contact-links {
        bottom: 5%;
        padding: 30px 20px 30px 15px;
        gap: 26px;
    }

    .contact-links box-icon {
        width: 26px;
    }
}

@media (min-width: 993px) and (max-width: 1200px) {
    /* styles for large screens go here */

    .contact-links {
        bottom: 5%;
        padding: 30px 25px 30px 18px;
        gap: 26px;
    }

    .contact-links box-icon {
        width: 26.5px;
    }
}