:root {
    --main-background: #1c1c1c;
    --color-primary: #5ca2b7;
    --color-primary-text: #a1a1a1;
    --color-secondary-text: #828282;
    --secone-section-color: #1e1e1e;
    --color-content: #5c5c5c;
    --color-intro: #00000025;
    --skill-heading: #696969;
    --color-highlight: #5295ab;
}