/*-----Cousor-----*/

@import url('../../assets/css/Global.css');

.cursor-dot {
    width: 8.5px;
    height: 8.5px;
    background-color: var(--color-primary);
}

.cursor-outline {
    position: relative;
    width: 35px;
    height: 35px;
    border: 1.7px solid var(--color-primary);
}

.cursor-dot,
.cursor-outline {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 1000;
    pointer-events: none;
}

@media (max-width: 576px) {
    /* styles for small screens go here */

    .cursor-dot {
        display: none;
    }

    .cursor-outline {
        display: none;
    }

    .cursor-dot,
    .cursor-outline {
        pointer-events: none;
        display: none;
    }
}

@media (min-width: 577px) and (max-width: 992px) {
    /* Your styles for medium screens go here */

    .cursor-dot {
        display: none;
    }

    .cursor-outline {
        display: none;
    }

    .cursor-dot,
    .cursor-outline {
        pointer-events: none;
        display: none;
    }
}