/*-----Sections-----*/

.home {
    display: block;
}

.portfolio_content {
    height: 100vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    padding: 10vh 12vw 0 12vw;
}

.exception {
    height: auto !important;
    padding: 10vh 12vw 5vh 12vw !important;
}